body { background: #2fa151; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 29px; display: flex; }
.block-filter-0 { color: #a88949; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #52173; font-size: 16px; margin-bottom: 5px; }
.block-cache-2 { color: #fecd37; font-size: 16px; margin-bottom: 5px; }
.block-config-3 { color: #d6ad33; font-size: 18px; margin-bottom: 5px; }
.block-payment-4 { color: #30f258; font-size: 19px; margin-bottom: 5px; }
.block-shipping-5 { color: #f726e9; font-size: 21px; margin-bottom: 5px; }
.block-helper-6 { color: #88d824; font-size: 21px; margin-bottom: 5px; }